<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>Basthon Console</title>
    <link
      rel="icon"
      type="image/png"
      href="<%= require('../assets/img/favicon.png') %>"
    />
    <script>
      var sys_info = <%= htmlWebpackPlugin.options.sys_info %>;
    </script>
  </head>
  <body></body>
</html>
